<%- include('partials/head') %>
<%- include('partials/header') %>

<main class="container">
  <h1 class="mt-5">Bem-vindo ao Sistema de Mercado</h1>
  <p class="lead">Gerencie seus produtos e preços de forma fácil e rápida.</p>
  <a href="/produtos" class="btn btn-primary btn-lg">Ver Produtos</a>
</main>

<%- include('partials/footer') %>